{:schemes [],
 :tags [{:name "pet",
         :description "Everything about your Pets",
         :externalDocs {:description "Find out more", :url "http://swagger.io"}}
        {:name "store", :description "Access to Petstore orders"}
        {:name "user",
         :description "Operations about user",
         :externalDocs {:description "Find out more about our store", :url "http://swagger.io"}}],
 :securityDefinitions {},
 :definitions {"Body15951" {:type "object",
                            :properties {:a {:type "boolean"},
                                         :b {:type "number", :format "double"},
                                         :c {:type "integer", :format "int64"},
                                         :d {:type "string"},
                                         :e {:$ref "#/definitions/Body15951E"}},
                            :additionalProperties false,
                            :required [:a :b :c :d :e]},
               "Body15951E" {:type "object",
                             :properties {:v {:type "string", :format "regex"},
                                          :o {:type "array", :items {:$ref "#/definitions/Body15951EO"}},
                                          :w {:type "string", :pattern "a[6-9]"},
                                          :m {:type "integer", :format "int64"},
                                          :l {:type "string", :x-nullable true},
                                          :k {:type "string", :format "date"},
                                          :g {:type "array", :items {:type "string"}, :uniqueItems true},
                                          :j {:type "string", :format "date-time"},
                                          :h {:type "array",
                                              :items {:type "string", :enum (:kukka :kikka :kakka)},
                                              :uniqueItems true},
                                          :f {:type "array", :items {:type "string"}},
                                          :k2 {:type "string", :format "time"},
                                          :i {:type "string", :format "date-time"},
                                          :u {:type "string", :format "uuid"}},
                             :additionalProperties false,
                             :required [:v :o :w :m :l :k :g :j :h :f :k2 :i :u]},
               "Body15951EO" {:type "object",
                              :properties {:p {:type "array",
                                               :items {:$ref "#/definitions/Body15951EOP"},
                                               :uniqueItems true}},
                              :additionalProperties false,
                              :required [:p]},
               "Body15951EOP" {:type "object",
                               :properties {:q {:type "string"}},
                               :additionalProperties false,
                               :required [:q]},
               "Body15955Tags" {:type "object", :additionalProperties {:type "string"}},
               "Body15957Tags" {:type "object", :additionalProperties {:type "string"}},
               "LegOfPet" {:type "object",
                           :properties {:length {:type "integer", :format "int64"}},
                           :additionalProperties false,
                           :required [:length]},
               "NotFound" {:type "object",
                           :properties {:message {:type "string"}},
                           :additionalProperties false,
                           :required [:message]},
               "Parrot" {:type "object",
                         :properties {:name {:type "string"}, :type {:$ref "#/definitions/ParrotType"}},
                         :additionalProperties false,
                         :required [:name :type]},
               "ParrotType" {:type "object",
                             :properties {:name {:type "string"}},
                             :additionalProperties false,
                             :required [:name]},
               "Pet" {:type "object",
                      :properties {:id {:type "integer", :format "int64"},
                                   :name {:type "string"},
                                   :leg {:$ref "#/definitions/LegOfPet"},
                                   :weight {:type "number", :format "double"}},
                      :additionalProperties false,
                      :required [:id :name :leg]},
               "Response15959" {:type "object",
                                :properties {:code {:type "integer", :format "int64"}},
                                :additionalProperties false,
                                :required [:code]},
               "Response15961" {:type "object",
                                :properties {:sum {:type "integer", :format "int64"}},
                                :additionalProperties false,
                                :required [:sum]},
               "Response15962" {:type "object",
                                :properties {:code {:type "integer", :format "int64"}},
                                :additionalProperties false,
                                :required [:code]},
               "Response15963" {:type "object",
                                :properties {:sum {:type "integer", :format "int64"}},
                                :additionalProperties false,
                                :required [:sum]},
               "Response15964" {:type "object",
                                :properties {:code {:type "integer", :format "int64"}},
                                :additionalProperties false,
                                :required [:code]},
               "Response15965" {:type "object",
                                :properties {:sum {:type "integer", :format "int64", :x-nullable true}},
                                :additionalProperties false,
                                :required [:sum]},
               "Response15966" {:type "object",
                                :properties {:sum {:type "integer", :format "int64"}},
                                :additionalProperties false,
                                :required [:sum]},
               "Response15967" {:type "object",
                                :properties {:code {:type "integer", :format "int64"}},
                                :additionalProperties false,
                                :required [:code]},
               "Response15968" {:type "object",
                                :properties {:sum {:type "integer", :format "int64"}},
                                :additionalProperties false,
                                :required [:sum]},
               "Response15969" {:type "object",
                                :properties {:code {:type "integer", :format "int64"}},
                                :additionalProperties false,
                                :required [:code]},
               "Response15970" {:type "object",
                                :properties {:sum {:type "integer", :format "int64", :x-nullable true}},
                                :additionalProperties false,
                                :required [:sum]},
               "Turtle" {:type "object",
                         :properties {:name {:type "string"},
                                      :tags {:x-oneOf [{:$ref "#/definitions/TurtleTags"}
                                                       {:type "array", :items {:type "string"}}]}},
                         :additionalProperties false,
                         :required [:name :tags]},
               "TurtleTags" {:type "object", :additionalProperties {:type "string"}}},
 :security [],
 :produces ["application/json" "application/edn"],
 :externalDocs {:url "http://someurl.com", :description "more info"},
 :paths {"/api/{id}" {:get {:description "description",
                            :tags ["pet"],
                            :produces ["application/xyz"],
                            :externalDocs {:url "http://someurl.com", :description "more info"},
                            :consumes ["application/xyz"],
                            :summary "summary",
                            :responses
                            {200 {:description "ok"},
                             400 {:description "not found", :schema {:$ref "#/definitions/NotFound"}},
                             :default {:description "error", :schema {:$ref "#/definitions/Response15959"}}},
                            :parameters [{:in "query",
                                          :name "x",
                                          :description "",
                                          :required true,
                                          :type "integer",
                                          :format "int64"}
                                         {:in "query",
                                          :name "y",
                                          :description "",
                                          :required true,
                                          :type "integer",
                                          :format "int64"}
                                         {:in "path", :name "id", :description "", :required true, :type "string"}],
                            :operationId "operationId"}},
         "/api/parrots" {:get {:responses {200 {:schema {:$ref "#/definitions/Parrot"}, :description ""}}}},
         "/api/all-types" {:get {:parameters [{:in "body",
                                               :name "Body15951",
                                               :description "",
                                               :required true,
                                               :schema {:$ref "#/definitions/Body15951"}}],
                                 :responses {200 {:description "file", :schema {:type "file"}}}}},
         "/api/pets" {:get {:parameters [{:in "body",
                                          :name "Pet",
                                          :description "",
                                          :required true,
                                          :schema {:$ref "#/definitions/Pet"}}
                                         {:in "query",
                                          :name "x",
                                          :description "",
                                          :required true,
                                          :type "integer",
                                          :format "int64"}
                                         {:in "query",
                                          :name "y",
                                          :description "",
                                          :required true,
                                          :type "integer",
                                          :format "int64"}],
                            :responses {200 {:description "ok", :schema {:$ref "#/definitions/Response15961"}},
                                        :default {:description "error", :schema {:$ref "#/definitions/Response15962"}}}},
                      :post {:parameters [{:in "body",
                                           :name "Pet",
                                           :description "",
                                           :required true,
                                           :schema {:type "array",
                                                    :items {:$ref "#/definitions/Pet"},
                                                    :uniqueItems true}}
                                          {:in "query",
                                           :name "x",
                                           :description "",
                                           :required true,
                                           :type "integer",
                                           :format "int64"}
                                          {:in "query",
                                           :name "y",
                                           :description "",
                                           :required true,
                                           :type "integer",
                                           :format "int64"}],
                             :responses {200 {:schema {:$ref "#/definitions/Response15963"}, :description ""},
                                         :default {:schema {:$ref "#/definitions/Response15964"},
                                                   :headers {:location {:type "string"}},
                                                   :description ""}}},
                      :put {:parameters [{:in "body",
                                          :name "Pet",
                                          :description "",
                                          :required true,
                                          :schema {:type "array", :items {:$ref "#/definitions/Pet", :x-nullable true}}}
                                         {:in "query",
                                          :name "x",
                                          :description "",
                                          :required true,
                                          :type "string",
                                          :allowEmptyValue true}],
                            :responses {200 {:description "ok", :schema {:$ref "#/definitions/Response15965"}},
                                        :default {:description "error"}}}},
         "/api/turtle" {:get {:parameters [{:in "body",
                                            :name "Turtle",
                                            :description "",
                                            :required true,
                                            :schema {:$ref "#/definitions/Turtle"}}
                                           {:in "query",
                                            :name "x",
                                            :description "",
                                            :required true,
                                            :type "integer",
                                            :format "int64"}
                                           {:in "query",
                                            :name "y",
                                            :description "",
                                            :required true,
                                            :type "integer",
                                            :format "int64"}],
                              :responses {200 {:description "ok", :schema {:$ref "#/definitions/Response15966"}},
                                          :default {:description "error", :schema {:$ref "#/definitions/Response15967"}}}},
                        :post {:parameters [{:in "body",
                                             :name "Turtle",
                                             :description "",
                                             :required true,
                                             :schema {:type "array",
                                                      :items {:$ref "#/definitions/Turtle"},
                                                      :uniqueItems true}}
                                            {:in "query",
                                             :name "x",
                                             :description "",
                                             :required true,
                                             :type "integer",
                                             :format "int64"}
                                            {:in "query",
                                             :name "y",
                                             :description "",
                                             :required true,
                                             :type "integer",
                                             :format "int64"}],
                               :responses {200 {:schema {:$ref "#/definitions/Response15968"}, :description ""},
                                           :default {:schema {:$ref "#/definitions/Response15969"},
                                                     :headers {:location {:type "string"}},
                                                     :description ""}}},
                        :put {:parameters [{:in "body",
                                            :name "Turtle",
                                            :description "",
                                            :required true,
                                            :schema {:type "array",
                                                     :items {:$ref "#/definitions/Turtle", :x-nullable true}}}
                                           {:in "query",
                                            :name "x",
                                            :description "",
                                            :required true,
                                            :type "string",
                                            :allowEmptyValue true}],
                              :responses {200 {:description "ok", :schema {:$ref "#/definitions/Response15970"}},
                                          :default {:description "error"}}}}},
 :consumes ["application/json" "application/edn"],
 :host "somehost:8080",
 :responses {},
 :info {:title "title",
        :version "version",
        :description "description",
        :termsOfService "jeah",
        :contact {:name "name", :url "http://someurl.com", :email "tommi@example.com"},
        :license {:name "name", :url "http://someurl.com"},
        :x-kikka "jeah"},
 :swagger "2.0",
 :parameters {},
 :basePath "/"}
